body {
    height: 100vh;
    background-color: #001731;
}

h1 {
    color: #7B8697;
}

h2 {
    color: white;
}

.smallbox{
    background-color: #CFF4FC;
    color: #2B7480;
}

.big-box{
    background-color: white;
    height: 500px;
}